<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kajli</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- J-query -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="jquery-3.7.1.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <nav>
        <div class="navbar nav">
            <div class="home">
                <stroke>Kajli</stroke><label>Mela</label>

            </div>
            <div class="nav-op">
                <h4><a href="index.html"><i class="glyphicon fa-home fas" style="font-weight: 800;"></i></a></h4>
                <div>
                    <h4><a href="about.html">About Kajli</a>
                        <div class="h4-animate"></div>
                    </h4>
                </div>

                <h4><a href="#gallary">Gallery</a></h4>
                <h4><a href="#contactus">Contact Us</a></h4>
                <h4><a href="#reviews">Travelling</a></h4>
                <h4><a href="Donation.html">Donation</a></h4>

            </div>
            <div class="social-media-icon">
                <i class="fa-brands fa-facebook "></i>
                <i class="fa-brands fa-twitter "></i>
                <i class="fa-brands  fa-youtube "></i>
            </div>
        </div>
    </nav>
    <!-------Slider-->

    <section>
        <div class="sliderr">

            <div class="slideshow-container">

                <div class="mySlides fade">

                    <img src="images/imageh.jpg" style="width:100% ; opacity: .8;">
                    <div class="messege1   ">
                        <!--   <p>आल्हा-ऊदल की वीरगाथा में कहा गया है 'बड़े लड़इया महुबे वाले, इनकी मार सही न जाए..!' आज से 831
                            साल
                            पहले दिल्ली नरेश पृथ्वीराज चौहान ने राजकुमारी चंद्रावल को पाने और पारस पथरी व नौलखा हार
                            लूटने के
                            इरादे से चंदेल शासक राजा परमाल देव के राज्य महोबा पर चढ़ाई की थी. युद्ध महोबा के कीरत सागर
                            मैदान में
                            हुआ था, जिसमें आल्हा-ऊदल की तलवार की धार के आगे वह टिक न सके. युद्ध के कारण बुंदेलखंड की
                            बेटियां
                            रक्षाबंधन के दूसरे दिन 'कजली' दफन कर सकी थीं. आल्हा-ऊदल की वीरगाथा के प्रतीक ऐतिहासिक कजली
                            मेले को
                            यहां 'विजय उत्सव' के रूप में मनाने की परम्परा आज भी जीवित है.</p>
                        <button value="readmore">Read more</button> -->
                        <h2>Welcome</h2>
                        <p class="wishing" id="holder">

                        </p>
                    </div>
                </div>


                <div class="mySlides fade">

                    <img src="images/kajli-mela-kirat-sagar.jpg" style="width:100%">
                    <div class="messege">
                        <p>आल्हा-ऊदल की वीरगाथा में कहा गया है 'बड़े लड़इया महुबे वाले, इनकी मार सही न जाए..!' आज से 831
                            साल
                            पहले दिल्ली नरेश पृथ्वीराज चौहान ने राजकुमारी चंद्रावल को पाने और पारस पथरी व नौलखा हार
                            लूटने के
                            इरादे से चंदेल शासक राजा परमाल देव के राज्य महोबा पर चढ़ाई की थी. युद्ध महोबा के कीरत सागर
                            मैदान में
                            हुआ था, जिसमें आल्हा-ऊदल की तलवार की धार के आगे वह टिक न सके. युद्ध के कारण बुंदेलखंड की
                            बेटियां
                            रक्षाबंधन के दूसरे दिन 'कजली' दफन कर सकी थीं. आल्हा-ऊदल की वीरगाथा के प्रतीक ऐतिहासिक कजली
                            मेले को
                            यहां 'विजय उत्सव' के रूप में मनाने की परम्परा आज भी जीवित है.</p>
                        <button value="readmore">Read more</button>
                    </div>
                </div>

                <div class="mySlides fade">

                    <img src="images/kajli-mela-mahoba.jpg" style="width:100%" />
                    <div class="messege">
                        <p>आल्हा-ऊदल की वीरगाथा में कहा गया है 'बड़े लड़इया महुबे वाले, इनकी मार सही न जाए..!' आज से 831
                            साल
                            पहले दिल्ली नरेश पृथ्वीराज चौहान ने राजकुमारी चंद्रावल को पाने और पारस पथरी व नौलखा हार
                            लूटने के
                            इरादे से चंदेल शासक राजा परमाल देव के राज्य महोबा पर चढ़ाई की थी. युद्ध महोबा के कीरत सागर
                            मैदान में
                            हुआ था, जिसमें आल्हा-ऊदल की तलवार की धार के आगे वह टिक न सके. युद्ध के कारण बुंदेलखंड की
                            बेटियां
                            रक्षाबंधन के दूसरे दिन 'कजली' दफन कर सकी थीं. आल्हा-ऊदल की वीरगाथा के प्रतीक ऐतिहासिक कजली
                            मेले को
                            यहां 'विजय उत्सव' के रूप में मनाने की परम्परा आज भी जीवित है.</p>
                        <button value="readmore">Read more</button>
                    </div>
                </div>

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

            </div>
        </div>
    </section>
    <br>







    <section id="gallary">
        <div class="gallary">
            <h1>Gallary</h1>
            <div class="container-slider">
                <div class="slider">
                    <div class="slide">
                        <img src="images/OIP.jpeg" alt="" class="imgs">
                        <div class="overlay">
                            <div class="text">Kajli mela Mahoba</div>
                        </div>
                    </div>

                    <div class="slide">
                        <img src="images/image2.jpg" alt="" class="imgs">
                        <div class="overlay">
                            <div class="text">Kajli mela Mahoba</div>
                        </div>
                    </div>

                    <div class="slide">
                        <img src="images/image.jpg" alt="" class="imgs">
                        <div class="overlay">
                            <div class="text">Kajli mela Mahoba</div>
                        </div>
                    </div>


                    <div class="slide">
                        <img src="images/image2.jpg" alt="" class="imgs">
                        <div class="overlay">
                            <div class="text">Kajli mela Mahoba</div>
                        </div>
                    </div>

                    <div class="slide">
                        <img src="images/image.jpg" alt="" class="imgs">
                        <div class="overlay">
                            <div class="text">Kajli mela Mahoba</div>
                        </div>
                    </div>

                </div>

                <div class="control-slider">
                    <i class="fa-solid fa-circle-left" id="arrow-left"></i>
                    <i class="fa-solid fa-circle-right" id="arrow-right"></i>
                </div>

            </div>

        </div>

    </section>



    <section class="reviews" id="reviews">

        <h1 class="heading"> Trvelling<span style="color:crimson;">Services</span> </h1>

        <div class="swiper review-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <img src="images/train.png" alt="">
                    <div class="content">
                        <h3>train</h3>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="images/bus.png" alt="">
                    <div class="content">
                        <h3>bus</h3>

                    </div>
                </div>

                <div class="swiper-slide box">
                    <img src="images/plane.png" alt="">
                    <div class="content">

                        <h3>plane</h3>

                    </div>
                </div>



            </div>

            <div class="swiper-pagination"></div>

        </div>


        <section>
            <div class="contact-us" id="contactus">
                <div class="container" ng-app="ContactForm">
                    <div>
                        <h1>Contact Us</h1>
                        <form name="cf" ng-controller="cfController as cfCtrl" ng-submit="submitForm(cf.$valid)"
                            novalidate>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input id="name" type="text" name="name" ng-model="name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email (optional)</label>
                                <input id="email" type="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="msg">Message</label>
                                <textarea id="msg" name="message" rows="4" ng-model="msg" required></textarea>
                            </div>
                            <input type="submit" value="Send" ng-disabled="cf.$invalid" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
            <!-------footer----->
        <footer>

            <div class="footer">
                <div class="footer-cantainer">

                    <div class="footer-col-2">
                        <div class="footer-col-3">
                            <h3>
                                <a href="#">IMPORTANT LINKS</a>
                            </h3>
                            <ul>
                                <li>Lost and found</li>
                                <li>incredible india</li>
                                <li>one stop Travel Solution Portal</li>
                                <li>Ministry of Torism India</li>
                                <li>Documentaries</li>
                            </ul>
                        </div>
                        <div class="footer-col-4">
                            <h3>
                                <a href="#">VISITOR SERVICES</a>
                            </h3>
                            <ul>
                                <li>Emerngency Services</li>
                                <li>FAQ</li>
                                <li>Do's and Don's</li>
                                <li>Mahoba mape</li>
                            </ul>
                        </div>
                        <div class="footer-col-5 ">
                            <h3>
                                <a href="#">WHAT'S NEW</a>
                            </h3>
                            <ul>
                                <li>Tender</li>
                                <li>Download</li>
                                <li>Key Announcements</li>
                            </ul>
                        </div>
                        <div class="footer-col-6">
                            <h3>
                                <a href="#">EMERNGENCY CONTACT</a>
                            </h3>
                            <ul>
                                <li>kajli helpline Number-1098</li>
                                <li>Women and Child helpline-1920</li>
                                <li>Ambulance-108</li>
                                <li>Police-100</li>
                                <li>Fir-101</li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <p class="copyright"> Privacy Policy | Teams of Use | Disclaimer | Accesibility</p><br>
                    <p class="copyright">Copyrght &copy; 2024 Mahoba Kjli Mela Pradhikaran.All Rights Reserved.Hosted by
                        Mahoba Mela Pradhikaran.The official Website of Kajli</p>
                </div>
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
            integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
        <script src="js/script.js"></script>

        <!---------------script code-------------------->
        <script>
            const arrow_right = document.querySelector("#arrow-right")
            const arrow_left = document.querySelector("#arrow-left")
            const slider = document.querySelector(".slider")

            const width_slider = slider.scrollWidth;
            const interval = 200;




            function slide(event) {

                const current_property_left_slider = parseInt(getComputedStyle(slider).left)


                let new_pos_left_slider;


                if (event.currentTarget === arrow_right) {


                    if (Math.abs(current_property_left_slider) + interval + slider.clientWidth >= slider.scrollWidth) {

                        new_pos_left_slider = `-${slider.scrollWidth - slider.clientWidth}px`

                    }


                    else {

                        new_pos_left_slider = `${current_property_left_slider - interval}px`

                    }

                    slider.style.left = new_pos_left_slider


                }



                if (event.currentTarget === arrow_left) {

                    new_pos_left_slider = current_property_left_slider + interval

                    if (new_pos_left_slider > 0) {

                        slider.style.left = "0px"
                    }

                    else {

                        slider.style.left = `${new_pos_left_slider}px`

                    }
                }

            }

            setInterval(() => {


            }, 500)
            arrow_left.addEventListener("click", slide)
            arrow_right.addEventListener("click", slide)


        </script>

        <script>
            $(document).ready(function () {
                $(window).bind('scroll', function () {
                    var navHeight = 61;
                    console.log($(window).height())
                    console.log(navHeight)
                    if ($(window).scrollTop() > navHeight) {
                        $('nav').addClass('fixed');
                    }
                    else {
                        $('nav').removeClass('fixed');
                    }
                });


            });

            (function ($) {
                $.fn.writeText = function (content) {
                    var contentArray = content.split(""),
                        current = 0,
                        elem = this;
                    setInterval(function () {
                        if (current < contentArray.length) {
                            elem.text(elem.text() + contentArray[current++]);
                        }
                    }, 80);
                };
            })(jQuery);

            // input text for typing animation
            $("#holder").writeText("Enjoy Kajli Mela in 2024");



        </script>



        <script>
            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            setInterval(() => {
                showSlides(slideIndex += 1);
            }, 10000)

            function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");

                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }

                slides[slideIndex - 1].style.display = "block";

            }

        </script>



</body>

</html>